

<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />

       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">

           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%=  @user.post_and_comment_count %>
         </small>
       </div>
     </div>
   </div>
 </div>


 <h2>Posts</h2>
 <%= render @user.posts %>

 <h2>Comments</h2>
 <%= render @user.comments %>

 <h2>Favorites</h2>

<% if favorite = Favorite.where(user_id: @user) %>
<div class="media">
   <div class="media-body">
     <h4 class="media-heading">
      <%= link_to [post, favorite] %>
     </h4>

   </div>
 </div>

 <% end %>
</div>
